Source: sift
Section: utils
Priority: extra
Maintainer: Steve Kemp <steve@steve.org.uk>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3
Homepage: http://www.steve.org.uk/Software/sift/

Package: sift
Architecture: all
Depends: ${perl:Depends}, libnet-imap-simple-ssl-perl, perl-modules
Description: A scriptable IMAP client utility.
 This is a tool which allows you to manipulate the contents of a remote
 IMAP server via a collection simple rulefiles.
 .
 There are primitives for:
 .
  * Selecting messages based upon status, subject & body contents.
 .
  * Executing programs.
 .
  * Moving, Copying, and Deleting messages.
 .
 The tool may be used for many ad-hoc IMAP manipulation purposes.